In [2]:
import pandas as pd
import pkg.query_objects as search

In [3]:
test = search.Protein(dataset_id='Q8CJG1', uniprot_id='Q8CJG1')

In [4]:
print(test.dataset_id)
print(test.uniprot_id)
print(test.entry)
print(test.entry_name)
print(test.go_bp)
print(test.go_mf)
print(test.kegg_id)
print(test.kegg)
print(test.reactome)
print(test.string_id)
print(test.biogrid_id)

Q8CJG1
Q8CJG1
Q8CJG1
AGO1_MOUSE
['miRNA loading onto RISC involved in gene silencing by miRNA [GO:0035280]', 'miRNA mediated inhibition of translation [GO:0035278]', 'miRNA metabolic process [GO:0010586]', 'negative regulation of angiogenesis [GO:0016525]', 'nuclear-transcribed mRNA catabolic process [GO:0000956]', 'positive regulation of gene expression [GO:0010628]', 'positive regulation of NIK/NF-kappaB signaling [GO:1901224]', 'positive regulation of transcription by RNA polymerase II [GO:0045944]', 'pre-miRNA processing [GO:0031054]', 'production of miRNAs involved in gene silencing by miRNA [GO:0035196]', 'RNA secondary structure unwinding [GO:0010501]']
['core promoter sequence-specific DNA binding [GO:0001046]', 'double-stranded RNA binding [GO:0003725]', 'miRNA binding [GO:0035198]', 'RNA binding [GO:0003723]', 'RNA polymerase II cis-regulatory region sequence-specific DNA binding [GO:0000978]', 'RNA polymerase II complex binding [GO:0000993]', 'single-stranded RNA binding [GO:0003727]', 'transcription regulatory region sequence-specific DNA binding [GO:0000976]']
mmu:236511
None
['R-MMU-203927', 'R-MMU-426486', 'R-MMU-426496']
10090.ENSMUSP00000095498
231767

In [5]:
plasma_data = pd.read_csv('...', index_col=0, sep='\t')
plasma_data.head()

,Q9D6Y9,P62259,P61982,P63101,Q8BH00,P52760,Q8BWT1,P10852,Q9DCU9,P49429,...,P01635,F6Z9B9,Q08ED5,Q6AW46,Q6PDB7,Q8BK48,Q8QZR3,Q91WG0,Q921I1,Q9DBB8
Plasma 0h_1,15.3152,14.5582,16.2345,15.9242,15.3425,15.5181,13.1131,18.3748,15.3881,15.7304,...,18.5051,18.6011,18.6011,18.6011,18.6011,18.6011,18.6011,18.6011,23.1840,14.6103
Plasma 0h_2,14.4940,14.8449,15.2106,15.5350,13.6135,13.2527,13.4021,15.8866,12.7454,15.2291,...,18.2148,14.1792,14.1792,14.1792,14.1792,14.1792,14.1792,14.1792,23.6320,13.2481
Plasma 0h_3,14.8361,14.9058,13.7424,14.7835,16.0991,13.0532,14.5930,19.3007,16.5039,12.7098,...,15.2959,18.3518,18.3518,18.3518,18.3518,18.3518,18.3518,18.3518,22.9864,14.1874
Plasma 0h_4,15.2352,14.8821,11.7031,14.0647,14.6426,15.2353,14.4082,16.9897,14.2157,15.0701,...,16.4343,18.8089,18.8089,18.8089,18.8089,18.8089,18.8089,18.8089,23.9225,13.8462
Plasma 6h_1,14.8392,13.6007,16.4754,14.7109,15.7095,13.4538,13.9385,18.0547,14.4113,15.4306,...,16.5836,14.7711,14.7711,14.7711,14.7711,14.7711,14.7711,14.7711,23.9672,16.2992

In [6]:
plasma_df = search.ProteinDataset(df=plasma_data, mapped_ids=list(plasma_data.columns))

Processed 100 proteins
Processed 200 proteins
Processed 300 proteins
Processed 400 proteins
Processed 500 proteins
Processed 600 proteins

In [7]:
len(plasma_df.proteins)

658